<div id="angularRoot"><div fxLayout="row" style="margin-top:30px" fxShow="true" fxHide="false" id="f2cd5db7-65a9-b08a-e24c-5ab4a8164645" fxLayout.xs="column"><div fxLayout="column" style="width:100%;border:1px solid black" fxFlex="100" fxShow="true" fxHide="false" id="9b3eb697-fb34-deb6-0280-b2337a6eba4b"><div fxLayout="row" style="background-color:blue" fxShow="true" fxHide="false" id="56b0b058-88ae-9c46-d102-88a16558d6eb"><h3>Clientele Ultimate Dignity Plan</h3></div><div fxLayout="row" fxShow="true" fxHide="false" id="7cbd8de8-7d10-c2a3-0d9c-f3b0b433665c" fxLayout.xs="column"><div fxLayout="column" fxFlex="100" fxShow="true" fxHide="false" id="a5ad8b52-2214-3652-af44-b53b7f9f8e67"><div fxLayout="row" fxFlex="100%" fxShow="true" fxHide="false" id="602ee20c-1584-7ea3-693f-0f5fa9c1cbf2"><div fxLayout="column" fxFlex="50" fxShow="true" fxHide="false" id="2639a75a-81c6-dc05-b521-96f82538fc3e"><label style="margin-top: 12px;">Your Premium</label></div><div fxLayout="column" fxFlex="50" fxShow="true" fxHide="false" id="d5647584-1a44-3f15-56ee-2178b1a23c88"><p style="margin-left: 12px;">Your total initial premium : R 1000.00</p></div></div><div fxLayout="row" fxFlex="100%" fxShow="true" fxHide="false" id="09c978d1-8336-a9b9-841f-1653e6b04656"><div fxLayout="column" fxFlex="50" fxShow="true" fxHide="false" id="e5525db4-2d93-d596-2986-1d2542293d06"><label style="margin-top: 12px;">Your email address</label></div><div fxLayout="column" fxFlex="50" fxShow="true" fxHide="false" id="ad227567-7a83-dce1-e820-7a0d50cf376f"><p>rg.com<br>
  This email address will be used in all future communications</p></div></div><div fxLayout="row" fxShow="true" fxHide="false" id="6746ae84-2d6d-6b1a-ae5f-e8ff33687a6f"><div fxLayout="row" fxFlex="30" fxShow="true" fxHide="false" id="82d87660-ddfb-97a6-d575-2d4caa45bd37"><label style="margin-top: 12px;">Who is covered</label></div><div fxLayout="column" fxFlex="100" fxShow="true" fxHide="false" id="d704b50f-3be8-91d5-615a-39d336925b18"><div fxLayout="row" fxShow="true" fxHide="false" id="50e210ff-8323-c885-7d31-bedee05cd43b"><p>Who is covered?</p></div><div fxLayout="row" fxShow="true" fxHide="false" id="f5017123-1d74-95b9-53f3-8b1a4823c209"><table border="1">
  <tr>
    <th>Name(s)</th>
    <th>Premium</th>
    <th>cover Amount</th>
  </tr>
  <tr>
    <td>Family Premium</td>
    <td>R375.00</td>
    <td></td>
  </tr>
  <tr>
    <td>(Main Member)</td>
    <td></td>
    <td>R25,000.00</td>
  </tr>
</table></div><div fxLayout="row" style="margin-top:20px" fxShow="true" fxHide="false" id="dee85ae4-00da-2cbf-1d61-e3b97d2e2930"><table border="1">
  <tr>
    <th>Age at Claim Event</th>
    <th>Benefit (Irrespective of Benefit Amount)</th>
  </tr>
  <tr>
    <td>Below the age of 2</td>
    <td>R2,500</td>
  </tr>
  <tr>
    <td>2 - 5</td>
    <td>R5,000</td>
  </tr>
  <tr>
    <td>6 - 13</td>
    <td>R10,000</td>
  </tr>
  <tr>
    <td>14 - 18</td>
    <td>100% of the Total Funeral Benifit</td>
  </tr>
</table></div><div fxLayout="row" fxShow="true" fxHide="false" id="34540f81-9b8b-81da-d701-86778249cd38"><p>Death benefits for children</p></div></div></div></div></div></div></div></div>