<div id="angularRoot">
  <div fxLayout="row" style="margin-top:30px" fxShow="true" fxHide="false" id="ff717dd0-ed64-8787-d028-c6f1a37c00b8">
    <form id="e37fb648-fab6-6e5a-2416-c90dc11a6a50">
      <div fxLayout="row" fxShow="true" fxHide="false" id="70622066-ab57-df32-3a60-069e1a2f7ac5" fxLayout.xs="column">
        <div fxLayout="column" class="box" fxShow="true" fxHide="false" id="833d04fc-5fe2-48f7-163e-c40ea3d94cb1">
          <div fxLayout="row" fxShow="true" fxHide="false" id="adbc04e4-9fd5-9835-9825-c01cef4acc0e">
            <h1>Payer Details</h1>
          </div>
          <div fxLayout="row" fxShow="true" fxHide="false" id="e2848b6f-36d0-ae6c-c447-be16124a6338">
            <p>Your total monthly premium : Total Premium : R 1000<br> Is paying for the Policy? If not enter the details of
              the Payer <input type="checkbox" name="ispolicy" (click)="checkbox($event)"></p>
          </div>
          <div fxLayout="row" fxShow="true" fxHide="false" id="8bff3f76-a404-c185-de08-37da11a3fb5f" fxLayout.xs="column">
            <div fxLayout="column" fxFlex="50" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="fc0138a9-f56a-537b-5ba2-80a2f884fa8e">
              <div fxLayout="row" fxFlex="100" fxLayoutGap="4rem" fxShow="true" fxHide="false" id="ea820568-3faa-abd1-0008-723a2a1cf77a"
                fxLayout.xs="column">
                <div fxLayout="row" fxFlex="50" fxShow="true" fxHide="false" id="713fafbc-de85-348a-4f7e-3de1cb6c4c2f"><label>Title</label></div>
                <div fxLayout="row" fxFlex="50" fxShow="true" fxHide="false" id="547cbb6d-e70d-7d36-333e-bdf8025088bd">
                  <md-select [(ngModel)]="payerdetails.title" required id="bf502ec1-2c8a-5641-75ce-f17da6173adb" name="title">
                    <md-option *ngFor="let title of titles" [value]="title.value">{{title.viewValue}}</md-option>
                  </md-select>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="345509a4-2275-6a9f-837f-664929d1fdc3"
                fxlayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="b190a530-9725-0204-bd89-a7ee24311f63"><label>Name(s)</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="ed34cec0-b8ce-4513-54b5-ca199b5a8d44">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.name" name="name" type="text" placeholder="Name" required id="00746c23-3f8b-0688-975f-7b42ff08efb2"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="bdbff174-8b09-4d0c-04f0-198d0203e11b"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="4d657efd-f53a-ded3-1989-45d43e8e5b47"><label>Surname</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="7d1c1c0c-4c5d-3556-ae0c-519fd543d299">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.surname" name="surname" type="text" placeholder="surname" required
                      id="b1649b78-12c0-e267-1d79-5d6ba208eada"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="553ccfee-2caf-2bc4-b2c6-b53b2c9d00db"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="420e260b-db63-cd3f-1955-450df61adb62"><label>ID Number</label></div>
                <div fxLayout="column" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="732ed648-01e6-7f47-c807-d5d7cab3cd68">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.idnumber" name="idnumber" type="number" placeholder="payer ID number"
                      required id="0f833e69-98e8-acb3-a0f8-50150bd06ac8"></md-input-container>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxFlex="50" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="e465a339-8ef8-add1-d551-7b5eb24736d7">
              <div fxLayout="row" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="337d2406-ce18-fe29-c2d5-e1460d61be07"
                fxLayout.xs="column">
                <div fxLayout="column" fxFlex="25" fxShow="true" fxHide="false" id="585ab3de-7a0b-e58b-4133-18733aea6baa"><label>Mobile Number</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="a00255c8-b346-ab0f-0e82-e24bc4516176">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.mobilenumber" name="mobilenumber" type="number" placeholder="payer mobile number"
                      required id="aec5b64e-520a-1c5a-082a-3a833d2126c0" maxlength="10"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="83e1b26d-70fe-e016-97b5-faad05cf5190"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="068207c2-2f43-a3f9-238a-6d5ed7b75002"><label>Work Number</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="7bc55619-be34-896e-0e0e-0e7e07ed76b0">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.worknumber" name="worknumber" type="number" placeholder="payer worknumber"
                      required id="a3f1c3de-e9d7-70a8-624e-b059abc7798f"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="28cc3643-c369-4dff-00a8-ba247cae7b35"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="f6a66405-c6ee-566d-c7c8-3dacd0b6b78a"><label>Home Number</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="83065f46-c4e3-7b72-f448-e32a5acf6f12">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.homenumber" name="homenumber" type="number" placeholder="home number"
                      required id="837a5387-7cd8-5c73-b21e-5a2be7af27fd"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="96495480-677a-d976-ae4d-6ab923ac5072"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="b5612f5c-2339-0f87-705b-62d60e060ed5"><label>Email</label></div>
                <div fxLayout="column" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="d9389aa3-d7fe-b254-063a-b93afbdc03d7">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.email" name="email" type="email" placeholder="email" required
                      id="f1f27daf-39e9-b7d2-5956-9245c527fa75"></md-input-container>
                </div>
              </div>
            </div>
          </div>
          <hr style="width:100%">
          <div fxLayout="row" fxLayoutGap="8rem" fxShow="true" fxHide="false" id="5ee4f855-8362-6754-be7a-ad282c700483"><label>Relationship </label>
            <md-select [(ngModel)]="payerdetails.relation" required id="5aa3d397-b88a-efbd-a301-ea9d926ffafb"
              name="relation">
              <md-option *ngFor="let relation of relations" [value]="relation.value">{{relation.viewValue}}</md-option>
            </md-select>
          </div>
          <hr style="width:100%">
          <div fxLayout="row" style="margin-top:10px" fxShow="true" fxHide="false" id="10d31829-5503-7b47-90ea-b9cf9cf68f8d">
            <div fxLayout="column" fxFlex="50" fxShow="true" fxHide="false" id="72ea73f7-2829-0b5c-2611-17ad246afe59">
              <div fxLayout="row" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="603c96fa-8842-4d3b-a91f-b7ca1f99c383"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="b4bc2136-370a-71b2-61c2-c02e2f10ff3c"><label>Postal Address</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="1197bdad-9c3c-f146-2c6e-debdd16fdb1e">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.postaladdress" name="postaladdress" type="text" placeholder="postal Address"
                      required id="b402463d-139c-1e2c-02d5-bdefebb4f3b6"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="5rem" fxShow="true" fxHide="false" id="465e5e80-ce90-84f0-d740-236787c689c8"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="670d6423-2140-1fd4-56b9-0438ced8fa76"><label>Suburn</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="05a445ed-9b2f-4e60-a357-309ae2640955">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.suburn" name="suburn" type="text" placeholder="suburn" required
                      id="ac3aa237-a8c3-1b99-1ec1-5a679ebf77f7"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="4rem" fxShow="true" fxHide="false" id="b791cc61-3057-ca91-d663-b11fae315078"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="5b72776e-4fc7-f694-7bd5-66d39f2e4ebb"><label>Town/city</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="32f9a03f-82c3-07d6-e4eb-62e76a312ccd">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.city" name="city" type="text" placeholder="town/city" required
                      id="d7bcf95b-0632-843f-cd6a-44ccef3bf597"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="3rem" fxShow="true" fxHide="false" id="f18036ab-4645-c70b-1b23-9ebca6158aaf"
                fxLayout.xs="column">
                <div fxLayout="column" fxShow="true" fxHide="false" id="1a078d62-ed63-80c6-0af9-32f04e31dab4"><label>Postal Code</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="076e773f-08ed-3bc4-d984-1164c5e24ecf">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.postalcode" name="postalcode" type="text" placeholder="postalcode"
                      required id="8a7b7bc0-9eed-63e7-602e-a13f1665ca5f"></md-input-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" style="margin-top:10px" fxShow="true" fxHide="false" id="b91f762e-951f-b0ba-b193-d8a29273ba5e">
        <div fxLayout="column" class="box" fxShow="true" fxHide="false" id="0d8094e5-b859-2340-e109-834572a0aa49">
          <div fxLayout="row" fxShow="true" fxHide="false" id="f29f3509-91a3-8a5d-f66a-d680a9a3a95a">
            <h1>Bank Details</h1>
          </div>
          <div fxLayout="row" fxShow="true" fxHide="false" id="9608aa5b-8491-94a3-3c72-076f7e9dc9c3">
            <div fxLayout="column" fxFlex="auto" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="0b10bcd6-546a-4f74-eaaf-bc714208ff8b">
              <div fxLayout="row" fxFlex="auto" fxLayoutGap="4rem" fxShow="true" fxHide="false" id="d8f5c661-4c90-004a-fc3d-e011e45ba5b1">
                <div fxLayout="column" fxShow="true" fxHide="false" id="ca3005e9-a6f1-83f5-797f-031ef58b144d"><label>Bank Name</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="6f0cdf43-7f43-af8a-0ffa-4ddf84cde1c4">
                  <md-select [(ngModel)]="bankdetails.bankname" required id="b077e372-e5aa-5640-fbfc-9a54a344795a" name="bankname">
                    <md-option *ngFor="let bankname of banknames" [value]="bankname.bankname">{{bankname.bankname}}</md-option>
                  </md-select>
                </div>
              </div>
              <div fxLayout="row" fxFlex="auto" fxLayoutGap="4rem" fxShow="true" fxHide="false" id="db078341-bde3-aae1-4d4a-3d76ccd78950">
                <div fxLayout="column" fxShow="true" fxHide="false" id="1c8ed24a-accd-715b-69c3-044e66c16c19"><label>Branch Name</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="75f08e42-3741-6c17-c631-0a1c3027c388">
                  <md-select [(ngModel)]="bankdetails.branchname" required id="061ae831-67ff-3c23-e705-3a1db0af7951" name="branchname">
                    <md-option *ngFor="let branch of branchnames" [value]="branch.branchname">{{branch.branchname}}</md-option>
                  </md-select>
                </div>
              </div>
              <div fxLayout="row" fxFlex="auto" fxLayoutGap="4rem" fxShow="true" fxHide="false" id="3725151f-3ac2-0016-df1d-d3515b98e349">
                <div fxLayout="column" fxShow="true" fxHide="false" id="4768c598-7f85-c9c2-f3eb-dc185afcae2a"><label>Account Type</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="58e92538-1eec-0dec-5b96-16c941ac5add">
                  <md-select [(ngModel)]="bankdetails.accounttype" required id="67f5537c-dea1-92a1-faec-47c812ae616b" name="accounttype">
                    <md-option *ngFor="let account of accounttype" [value]="account.value">{{account.viewValue}}</md-option>
                  </md-select>
                </div>
              </div>
              <div fxLayout="row" fxFlex="auto" fxLayoutGap="2rem" fxShow="true" fxHide="false" id="f5250244-9475-2d17-fb8f-ba04129ed2b7">
                <div fxLayout="column" fxShow="true" fxHide="false" id="4449aa1f-868e-2a62-d225-ac016350f30d"><label>Account number</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="9402b271-238c-0b56-e723-6968f8cd310f">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.accountnumber" name="accountnumber" type="number" placeholder="Account Number"
                      required id="175eb779-17b8-03bd-524f-53a46146f95a"></md-input-container>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="4rem" fxShow="true" fxHide="false" id="85e441f6-595c-6683-48a5-a622a09cc734">
                <div fxLayout="column" fxShow="true" fxHide="false" id="7b8faffd-f23b-39a6-a691-cdc25bcd7d00"><label>Debit Date</label></div>
                <div fxLayout="column" fxShow="true" fxHide="false" id="e5dc6137-09e9-5a2b-5533-40c0680742a2">
                  <md-input-container><input mdInput="" [(ngModel)]="payerdetails.debitdate" name="debitdate" type="date" required id="51152121-4d85-270c-a291-cefc6bdaa9e1"></md-input-container>
                </div>
              </div>
              <hr style="width:100%">
              <div fxLayout="row" style="margin-top:5px;margin-bottom:5px" fxShow="true" fxHide="false" id="5451d1e0-9dfb-0fde-51d4-d2cd7b0e1419">
                <p>I hereby authorise Client&#xE8;le to draw against my bank account the premiums payable monthly, and I request
                  my bank to debit my account in terms of this instruction using reasonable collection methods and tracking
                  for however many days. Should Client&#xE8;le not be successful in obtaining the premium, I authorise them
                  to resubmit their request to my bank at any time. I authorise Client&#xE8;le to debit my account up to
                  10 working days before my salary day except for December when the debit could be processed up to 15 working
                  days before my salary day. This instruction will remain in force until cancelled by me. Should the relevant
                  total premium be adjusted by Client&#xE8;le as a general increase/decrease in premium, or should I request
                  Client&#xE8;le to increase/decrease the premium for certain reasons, I confirm that the adjusted premium
                  may be deducted from my bank account until such time as I cancel this authorisation. Furthermore, I hereby
                  authorise Client&#xE8;le to perform the necessary verification, validation and correction of the debit
                  order details, supplied by me, with my bank or other third parties to ensure that this application form
                  can be processed. Resubmission will be applied as aforementioned. The aforementioned debit order transactions
                  will reflect as &quot;CLIENTELE&quot; (together with your policy number) on your bank statement.</p>
              </div>
              <hr style="width:100%;margin-bottom:10px">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <footer style="width:100%;border:1px solid black" id="a7c302de-83b1-b1ae-079e-059d38ea371d">
    <div fxLayout="row" fxShow="true" fxHide="false" id="24d3ae68-30a6-52a0-aa57-94ac00199f7c">
      <p>How much cover do you want?</p>
      <div class="blockHead"><span class="blocktext">R {{value}}</span></div>
    </div>
    <md-card id="071e105a-ef31-1cea-8d42-3c901aecb1a2">
      <md-card-actions id="ee0e8a1b-e3ee-cd75-571d-6ef4ff2d69a1"><button md-raised-button="" id="25c74969-33c7-8346-fefe-ac66a8081fa8" (click)="back()">back</button><button md-raised-button=""
          id="95c48ebf-d0e5-c9ed-5e34-bd1bfe518770" (click)="onsubmit()">continue</button></md-card-actions>
    </md-card>
  </footer>
</div>