/*Importing default angular material css theme. */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/* You can add global styles to this file, and also import other style files */
a
{
  text-decoration : none;
}
a:hover
  {
    text-decoration:underline;
    cursor:pointer;
   }

h1
{
  font-family :New Century Schoolbook, serif;
  color : blue;
}
.icon_home
{
  transform: translate(15px,10px);
}
.icon_person
{
  transform: translate(18px,10px);
}
button
{
  width:100%;
  height:100%;
}
label
{
  font-size:18px;
}


.contentmem
{
  padding-top : 20px;
   border : 1px solid grey;
}
.blockHead:after {
  color:#4D81BF;
  border-right: 20px solid;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
  left: -70px;
  margin-left : 50px;

}
.blockHead{
  background-color:#4D81BF;
  width: 150px; 
  height: 40px;
  display: inline-block;
  position: relative;
  margin-left:82px;
}
.blocktext{
	color:white;
	font-weight:bold;
	padding-left:30px;
  	padding-bottom:30px;
	font-family:Arial;
	font-size:20px;
}
.continuebtn
{
  float : right;
  width:20%;
  height:50%;
  border-radius : 50px;
}
.box {border:2px solid #0094ff;}
.box h2, button{color:white;background-color:blue;margin:0px;}
.box p {color:#333;}

table, th, tr,td
{
   border: 1px solid black;
    border-collapse: collapse;
  height:27px;
  text-align : center;
}
.smallinput { width: 50px; height: 10px; }

.outerborder{border:1px solid black;}

.iconClass {
  	position: relative;
  	top: 24px;
    left: 8px;
}
.mat-tab-label[_ngcontent-c1] {
    line-height: 54px !important;
    height: 44px !important;
    padding: 0 0px !important;
}

.mat-simple-snackbar-action
{
  flex:5px;
}