<div id="angularRoot"><div fxLayout="row" fxShow="true" fxHide="false" id="8618b791-e48f-0f31-b56e-054b62be9c6b"><div fxLayout="column" fxFlex="100" fxShow="true" fxHide="false" id="bd6b4846-bf1a-b07c-8542-abf21bda746b"><div fxLayout="row" fxShow="true" fxHide="false" id="091f7e39-ff47-644c-e72d-5b3c7ef19b0b"> <h1>Clientele Dignity Ultimate Plan</h1></div><hr style="width:100%;margin-top: -1px;"> <div fxLayout="row" fxShow="true" fxHide="false" id="f94090be-72ec-412f-adf2-eb6778f6dd01" fxLayout.xs="column"><div fxLayout="column" fxFlex="40" fxShow="true" fxHide="false" id="90e6ce5c-a3f1-fef4-e9f5-f71a235374d0"><div fxLayout="row" fxShow="true" fxHide="false" id="2b25a0c8-152a-a083-bcb0-feecb0303d2f"><button style="border:none;background:blue;"><h3>MEMBER DETAILS</h3></button>   </div></div><div fxLayout="column" fxFlex="40" fxShow="true" fxHide="false" id="2999c2e0-b3a1-0095-df06-e01d65126f01"><div fxLayout="row" fxShow="true" fxHide="false" id="49b4322d-b700-c415-de43-fdb71649e0f3"><button style="border:none;background:blue;"><h3>ADDITIONAL MEMBER</h3></button>   </div></div><div fxLayout="column" fxFlex="40" fxShow="true" fxHide="false" id="ac0e3bd2-9550-3f1e-9c83-a46d1a1e5c02"><div fxLayout="row" fxShow="true" fxHide="false" id="9458763c-c02f-a3d7-0309-d6701dad3cf7"><button style="border:none;background:blue;"><h3>PAYER DETAILS</h3></button>   </div></div><div fxLayout="column" fxFlex="40" fxShow="true" fxHide="false" id="4532dc60-d1c9-d0ff-84d1-04eafa15189c"><div fxLayout="row" fxShow="true" fxHide="false" id="761daa5c-72f4-a63b-3a30-a2af99f9249a"><button style="border:none;background:none;color:black;"><h3>POLICY DETAILS</h3></button>   </div></div></div></div></div><div fxLayout="row" fxShow="true" fxHide="false" id="771b2d50-da04-637d-76a2-2419fa7eb82c"><div fxLayout="column" fxFlex="100" fxShow="true" fxHide="false" id="a58bd3d9-4c16-db9f-150e-ce09d417ee8e"><div fxLayout="row" fxShow="true" fxHide="false" id="de1c2d65-9aa0-6834-b6e8-08f914716b26"><div fxLayout="row" fxLayoutAlign="left stretch" fxShow="true" fxHide="false" id="099a3292-b471-e009-4157-ddd00f1b1daa" layout="row" layout-xs="column"><h2>Clientele Ultimate Dignity Plan</h2></div></div><div fxLayout="row" fxShow="true" fxHide="false" id="5c6002dd-b9db-22e7-85a5-3d04c3c5da31" fxLayout.xs="column"><div fxLayout="column" fxShow="true" fxHide="false" id="93eb1345-2ed4-080f-b290-9533bd1e4aa9"><div fxLayout="row" fxShow="true" fxHide="false" id="769c28fa-86cb-48ab-1a5e-2cd19336770e" fxLayout.xs="column"><div fxLayout="column" fxFlex="50%" fxShow="true" fxHide="false" id="44b6b85c-cfc4-0bff-fe8e-3add76f5dbe3"><label>Your Premium</label></div><div fxLayout="column" fxFlex="50%" fxShow="true" fxHide="false" id="cbe9de18-bb29-3bad-7a87-4356914489ef"><p>Your total initial premium : R {{ client.value}}</p> </div></div><div fxLayout="row" fxShow="true" fxHide="false" id="c6217443-6b28-36a5-93fe-3cfcef73091e"><div fxLayout="column" fxFlex="50%" fxShow="true" fxHide="false" id="7ce93855-e387-bace-6a08-449c21d1dc12"><label>Your email address</label></div><div fxLayout="column" fxFlex="50%" fxShow="true" fxHide="false" id="0f0fb693-2ebf-af0d-4cc4-52783af24eb0">{{client.email}}<p>This email address will be used in all future communications</p></div></div></div></div><div fxLayout="row" fxLayoutGap="2em" fxShow="true" fxHide="false" id="0941ac95-3b4b-9de7-87dc-3dfa17c21e82" fxLayout.xs="column"><div fxLayout="column" fxFlex="20" fxShow="true" fxHide="false" id="38ce58fb-bb86-bedf-ae9e-d57e313002bf"><div fxLayout="row" fxShow="true" fxHide="false" id="e2fcfc6b-2f6b-1729-1987-c33d84781150"><label style="margin-top: 58px;">Who is covered</label></div></div><div fxLayout="column" fxFlex="80" fxLayoutGap="2em" fxShow="true" fxHide="false" id="982de600-03dc-893c-c1fe-e481554c60ba"><div fxLayout="row" fxShow="true" fxHide="false" id="a4153eab-cb3b-3e3c-f5b6-c346bc3155a4"><div fxLayout="column" fxFlex="100" fxShow="true" fxHide="false" id="aea990cd-2330-c06f-a4b7-8d1857c738df"><div fxLayout="row" style="background-color:blue;height: 40px;color:white;margin-top: 2px;" fxShow="true" fxHide="false" id="8e056ba6-57dc-ed0a-d4e9-67d75579a4de"><h3 style="margin-top: 2px;">Who Is covered?</h3> </div><div fxLayout="row" fxFlex="100" fxShow="true" fxHide="false" id="69b34168-7918-453c-cd51-833a5f51061f"><table border="1" style=" width:100%">



  <tr>
    <th>Name</th>
    <th>Premium </th>
    <th>Cover Amount</th>
  </tr>
  <tr>
    <td>Family Premium</td>
    <td>R375.00</td>
    <td></td>
  </tr>
  <tr>
    <td> (Main Member)</td>
    <td></td>
    <td>R25,000.00</td>
  </tr>
</table></div></div></div><div fxLayout="row" fxShow="true" fxHide="false" id="2dc79ca1-0a09-12ac-a821-65fce53eb910"><div fxLayout="column" style="margin-top: 39px;" fxFlex="100" fxLayoutGap="0em" fxShow="true" fxHide="false" id="0de3f938-8fa8-4f00-122f-1afbaa5482ad"><div fxLayout="row" style="background-color:blue;height:0px;color:white" fxFlex="100" fxShow="true" fxHide="false" id="e8e803f5-3cf8-1a6f-ac52-b6406eb66e4a"><h3>Death benefits for children</h3></div><div fxLayout="row" fxFlex="100" fxShow="true" fxHide="false" id="4a705857-38fb-7b21-b3b8-1817ca6aafaa"><table border="1" style=" width:100%">
<tr>
  </tr><tr>
    <th>Age at Claim Event</th>
    <th>Benefit (Irrespective of Benefit Amount) </th>
  </tr>
 <tr>
    <td>Below the age of 2</td>
    <td>R2,500</td>
  
  </tr>
  <tr>
    <td>2-5</td>
    <td>R 5000</td>
   
  </tr>
    <tr>
    <td>6-13</td>
    <td>R 10000</td>
   
  </tr>
    <tr>
    <td>14-18</td>
    <td>100% of the Total Funeral Benifit</td>
   
  </tr>
</table>
</div></div></div></div></div><div fxLayout="row" fxShow="true" fxHide="false" id="4fe2d4a5-0e6f-78fb-f719-65c774d8eed3"><hr style="width:100%;     margin-top: 96px;"></div><div fxLayout="row" fxShow="true" fxHide="false" id="6273a0ee-5ca6-4779-c1a2-44fe8b718aad" fxLayout.xs="column"><div fxLayout="row" fxShow="true" fxHide="false" id="904dc129-b91f-b4a2-55fb-b0ae4cfe8c1e"><label style="  margin-top: 46px;">Benefits</label></div><div fxLayout="column" fxFlex="80" fxShow="true" fxHide="false" id="3c0c65d2-47b0-24a4-a2e0-8ff07013a944"><div fxLayout="row" fxFlex="75" fxShow="true" fxHide="false" id="f6db807a-e4f8-0456-0995-4acb9c11910a"><ul>
  <li>The total funeral benefit per insured life is available in cash immediately or can be paid out as follows</li>
  <li>R 3000 grocery benefit (paid over 3 months in cash or vouchers)</li>
  <li>R 2000 unwillingly benefit (payable at a requested date within 12 months of death)</li>
  <li>R 2000 transport benefit.</li>
<li>Cash benefit : Balance of total funeral benefit after grocery, unveiling and transport benefits have been deducted.</li>
  <li>Plus R 200 airtime to assist with the funeral arrangements, when a claim is submitted.</li>
  <li>Premium payback benefit - All the premiums of the deceased insured life will be paid back.</li>
  <li>Immediate cover for accidental death.</li>
  <li>Approved funeral benefit claims will be paid within 24 hours.</li>
<li>Additional funeral assist benefits, provided in partnership with Europ Assistance through Clientele Ltd. </li>

 
</ul></div><div fxLayout="row" fxShow="true" fxHide="false" id="61bf98a9-2284-7748-e552-db6e1e07bd7b"><p> I have read and agree with the terms and conditions  <input type="checkbox" name="checkbox" (click)="checkbox($event)"></p></div></div></div></div></div><div fxLayout="row" fxShow="true" fxHide="false" id="ab308ee0-1e2c-65a7-cd03-e4881dddcf88"><md-card id="00a59b88-50f9-091b-4a10-c7030a24ec48" style="width:100%;"><md-card id="48e8703d-fb30-b028-1d2b-3c11fcd2c3fc"><div fxLayout="row" fxShow="true" fxHide="false" id="c07684da-0a1c-114a-8e8b-d0a1d79b6527"><div fxLayout="row" fxShow="true" fxHide="false" id="36a57319-cc6a-3b4c-3b0e-5551085e333f"><button md-raised-button="" id="2986cbca-0e2c-919b-74dd-db1194a04661" color="primary" (click)="back()">Back</button></div><div fxLayout="row" style="margin-left:auto;" fxShow="true" fxHide="false" id="6cdf0ebe-c46d-1b71-a223-44d4278607df"><button md-raised-button="" id="5240a1a5-1821-ab52-d78f-6fbf4fdb63be" color="primary" (click)="submit()">submit</button></div></div></md-card></md-card></div></div>